body {
    font-family: 'Roboto';
    font-size: 1.1em;
    color: rgb(28, 96, 223);
    /* background-color: rgb(252, 251, 255); */
    background-color: rgb(250, 246, 241); */
}

html {
    scroll-padding-top: 200px;
  }

footer {
    height: 20px;
}

::selection {
    background: rgb(255, 182, 123); /* WebKit/Blink Browsers */
  }

::-moz-selection {
    background:rgb(255, 182, 123); /* Gecko Browsers */
  }

p {
    margin-bottom: 12.5px;
    line-height: 1.3em;
}

sup {
    font-size: 0.5em;
}

p + ul {
    margin-top: -10px;
}

ul > li {
    margin-left: 5px;
}

a:active, a:visited {
    color: rgb(103, 62, 199);
}

nav > a, nav > a:visited, nav > a:active {
    color: rgb(28, 96, 223);
}

ul {
    list-style-type: circle;
    margin-left: 12.5px;
}

h1 {
    font-size: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: overline solid 5px;
    margin-bottom: 10px;
}

h3 {
    font-style: italic;
    font-size: 1.25em;
    text-transform: lowercase;
}

header {
    margin-left: 7.5%; 
    margin-top: 7%;
    padding: 15px 0 25px 0;
    background-color: rgb(250, 246, 241);
    max-width: 90%;
    position:sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

nav > a {
    margin-top: 10px;
    margin-right: 15px;
    text-transform: underline;
}

.container {
    height: 100%;
    margin-left: 7.5%;
    margin-top: 75px;
    max-width: 90%;
}

.data, .design, .writing {
    display: grid;
    grid-gap: 10px;
}

.data {
    grid-template-columns: 2.5fr 5fr;
}

.design {
    grid-template-columns: 1fr 1fr;
}

.writing{
    margin-top: 5%;
}

.data-img {
    width: 100%;
    border: 2px solid rgb(28, 96, 223);
    margin: 10px 0px;
}

.data-div {
    margin: 10px 0px 15px 10px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px; 
}

#photos {
    padding-bottom: 10px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(28, 96, 223);
}

#books, #articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.review-h3 {
    margin-bottom: 7.5px;
}

.review {
    font-size: 0.9em;
}

.horizontal-line::before {
    border-bottom-width: 10px;
    content: "";
    display: block;
    width: 100px; 
    height: 5px; 
    background-color: rgb(28, 96, 223);
    margin: 20px 0 10px 0; 
}

#loadpage {
    position: fixed;
    background-color: rgb(250, 246, 241);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000000;
}
    
#loader {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 100000000000000000000;
    width: 125px;
    height: 125px;
    margin: -62.5px 0 0 -62.5px; 
    border: 10px solid rgb(142, 179, 247);
    border-radius: 50%;
    border-top: 10px solid rgb(28, 96, 223);
    -webkit-animation: spin 1.5s infinite;
    animation: spin 1.5s infinite;
}

#bartelby {
    font-size: 0.65em;
    font-style: italic;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (min-width: 650px) {

    .container, #header {
        max-width: 50%;
    }

    footer {
        height: 50px;
    }

    footer > .container {
        margin-top: 25px;
        padding-bottom: 50px;
    }

}